#wrapper {
	min-height: 14560px;
}
#inner-wrapper{
	min-height: 14500px;
}
.section .inner-section > .sub-heading {
	margin-top: 52px;
	text-align: center;
}
.label {
	text-align: center;
	text-transform: uppercase;
}
#tools .tab .label, #partners .tab .label {
	font-weight: bold;
}
/* work */
#work > .heading {
	border-color: #FAFAFA;
	position:relative;
	z-index: 10;
}
#work .inner-container .tab {
	width: 50%;
	float: left;
	margin-top: 52px;
	font-size: 18px;
	display: table;
	height: 72px;
}
#work .inner-container .tab > div {
	display: table-cell;
	vertical-align: middle;
}
#work .inner-container .tab:nth-child(2n+1) .text {
	padding-right: 26px;
}
#work .inner-container .tab:nth-child(2n) {
	padding-left: 26px;
}
#work .inner-container .tab:nth-child(2n) .text-holder {
	padding: 0 15px;
	text-transform: uppercase;
}

/* tools */

#tools .inner-container {
	margin-right: -53px;
	margin-left: -1px; /* 2px-lel szelesebb a 6 db negyzet, mint a teruelt */
}
#tools .tab {
	width: 157px;
	float: left;
	margin: 52px 52px 0 0;
}
#tools .tab:nth-child(6n+7) {
	clear: both;
}
#tools .tab .img-holder {
	width: 157px;
	height: 164px;
	margin-bottom: 42px;
}
#tools #icn-editors {
	background: url("../img/icn_editors.png") no-repeat center;
}
#tools #icn-languages {
	background: url("../img/icn_languages.png") no-repeat center;
}
#tools #icn-analytics {
	background: url("../img/icn_analytics.png") no-repeat center;
}
#tools #icn-bug {
	background: url("../img/icn_bug.png") no-repeat center;
}
#tools #icn-devops {
	background: url("../img/icn_devops.png") no-repeat center;
}
#tools #icn-distribution {
	background: url("../img/icn_distribution.png") no-repeat center;
}


/* partners, team */

#partners .inner-container,
#our-team .inner-container{
	margin-right: -52px;
}
#partners .tab,
#our-team .tab {
	width: 261px;
	float: left;
	margin: 52px 52px 0 0;
}
#partners .tab:nth-child(4n+5),
#our-team .tab:nth-child(4n+5) {
	clear: both;
}
#partners .tab .img-holder,
#our-team .tab .img-holder {
	width: 261px;
	height: 261px;
	margin-bottom: 42px;
}
#partners .tab .img-holder{
	background-repeat: no-repeat;
	background-position: center ;
}
#partners .tab #partners-mk, #partners .tab #partners-xc, #partners .tab #partners-tb {
	background-image: url("../img/partners_mk.png");
}
#partners .tab #partners-ak {
	background-image: url("../img/img_adamkatyi.png");
}

/* map */

#map {
	height: 550px;
	position: relative;
	padding-top: 150px;
	background-color: #E5E3DF; /* this from google maps */
}
#map > .inner-section {
	margin: -150px auto 0;
	padding-bottom: 0;
}
#map-layer {
	width: 100%;
	height: 150px;
	background: linear-gradient(#001A2F, transparent);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0.5;
}
#map-disable-control {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:450;
	background-color: rgba(100, 100, 100, 0.1);
}
#map .inner-section {
	position: relative;
	z-index: 5;
}
#map-container {
	position: absolute;
	top: 148px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0.8;
}

#relax {
	height: 986px;
	background: url(../img/img_relax.png);
	background-size: cover;
	position: relative;
}
#relax-layer {
	width: 100%;
	height: 100%;
	background: linear-gradient(#EEE, transparent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#relax .heading {
	position: relative;
	z-index: 5;
}

/**************************
*****      RIBBON     *****
***************************/
#work-container {
	position:relative;
	height:8860px;
	overflow: hidden;
	z-index:7;
}
#work {
	position: absolute;
	width: 1440px;
	left: 50%;
	margin-left: -720px;
	z-index:8;
}
#r-container {
	width: 1200px;
	height: 715px;
	position: relative;
	top: 40px;
	left: 50%;
	margin-left: -600px;
	/*overflow:hidden;*/
	z-index:9;
}
#r-inner-container{
	position:relative;
	width:100%;
	height:100%;
	/*background: #58C2DA;*/
	top: -325px;
	left: 900px;
}
#r-inner-container > div{
	display:none;
	transform-style: flat;
	-webkit-transform-style: flat;
	/*-webkit-backface-visibility: hidden;*/
}

.r-rotate {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.r-page {
	width: 110px;
	height: 110px;
	background: grey;
	position: relative;
	border-width: 1px;
	border-style: solid;
	/*border-color: #F00 #008000 #00F #FFA500;*/
	border-color: gray;
}
.r-e-container {
	position:relative;
}
.r-grey-bg{
	background:#999;
}
.r-label{
	position: absolute;
	width: 160px;
	text-transform: uppercase;
	z-index: 400;
}
.r-text{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 500px;
	z-index:400;
	font-size:14px;
	opacity: 0;
}
.r-text > p {
	color: #FAFAFA;
}
.r-text-title {
	font-size:16px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

/* két elem közötti, valós ikon elemek */
.r-transform-origin-100-100 {
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
/* fake ikon elemek */
.r-transform-origin-100-0 {
	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}


/*****************
***  ELEMENTS  ***
******************/

/* A */
#elem1{
	z-index:75;
	background: url(../img/icn_start.png) no-repeat center #eee;
	top: 410px;
	left: 20px;
}
/* B */
#elem2{
	background: url(../img/icn_specification.png) no-repeat center #eee;
	top: 242px;
	left: 109px;
}
/* C */
#elem3{
	background: url(../img/icn_wireframeandux.png) no-repeat center #ff4b32;
	top: -173px;
	left: 254px;
}
/* D */
#elem4{
	background: url(../img/icn_uiandgfx.png) no-repeat center #ff4b32;
	top: -588px;
	left: 398px;
}
/* E */
#elem5{
	background: url(../img/icn_plan.png) no-repeat center #ff4b32;
	top: -1004px;
	left: 543px;
}
/* F */
#elem6{
	background: url(../img/icn_development.png) no-repeat center #001a2f;
	top: -1419px;
	left: 688px;
}
/* G */
#elem7{
	background: url(../img/icn_userfeedback.png) no-repeat center #001a2f;
	top: -1833px;
	left: 833px;
}
/* H */
#elem8{
	background: url(../img/icn_launch.png) no-repeat center #001a2f;
	top: -2248px;
	left: 979px;
}

/* B */
#elem2-fake{
	background: url(../img/icn_specification.png) no-repeat center #eee;
	top: 130px;
	left: 44px;
}
/* C */
#elem3-fake{
	background: url(../img/icn_wireframeandux.png) no-repeat center #ff4b32;
	top: -284px;
	left: 187px;
}
/* D */
#elem4-fake{
	background: url(../img/icn_uiandgfx.png) no-repeat center #ff4b32;
	top: -700px;
	left: 333px;
}
/* E */
#elem5-fake{
	background: url(../img/icn_plan.png) no-repeat center #ff4b32;
	top: -1115px;
	left: 477px;
}
/* F */
#elem6-fake{
	background: url(../img/icn_development.png) no-repeat center #001a2f;
	top: -1531px;
	left: 622px;
}
/* G */
#elem7-fake{
	background: url(../img/icn_userfeedback.png) no-repeat center #001a2f;
	top: -1945px;
	left: 767px;
}
/* H */
#elem8-fake{
	background: url(../img/icn_launch.png) no-repeat center #001a2f;
	top: -2360px;
	left: 912px;
}



/* A és B közötti */
#middle-1{
	top: 130px;
	left: 43px;
}
/* B és C közötti */
#middle-2{
	top: -284px;
	left: 187px;
}
/* C és D közötti */
#middle-3{
	top: -700px;
	left: 333px;
}
/* D és E közötti */
#middle-4{
	top: -1115px;
	left: 477px;
}
/* E és F közötti */
#middle-5{
	top: -1531px;
	left: 622px;
}
/* F és G közötti */
#middle-6{
	top: -1945px;
	left: 767px;
}
/* G és H közötti */
#middle-7{
	top: -2360px;
	left: 912px;
}


/***************
***  LABELS  ***
****************/
#elem1-label {
	top: 505px;
	left: 140px;
}
#elem2-label {
	top: 430px;
	left: 280px;
}
#elem3-label {
	top: 350px;
	left: 430px;
}
#elem4-label {
	top: 260px;
	left: 580px;
}
#elem5-label {
	top: 185px;
	left: 715px;
}
#elem6-label {
	top: 105px;
	left: 860px;
}
#elem7-label {
	top: 32px;
	left: 1000px;
}
#elem8-label {
	top: -50px;
	left: 1150px;
}
#elem3-label, #elem4-label, #elem5-label, #elem6-label, #elem7-label {
	color: #FAFAFA;
}