#wrapper {
	min-height: 6360px;
}
#inner-wrapper{
	min-height: 6300px;
}
.section .inner-section > .sub-heading {
	margin-top: 52px;
	text-align: center;
}
.label {
	text-align: center;
	text-transform: uppercase;
}
#tools .tab .label, #partners .tab .label {
	font-weight: bold;
}
/* work */

#work .inner-container .tab {
	width: 50%;
	float: left;
	margin-top: 52px;
	font-size: 18px;
	display: table;
	height: 72px;
}
#work .inner-container .tab > div {
	display: table-cell;
	vertical-align: middle;
}
#work .inner-container .tab:nth-child(2n+1) .text {
	padding-right: 26px;
}
#work .inner-container .tab:nth-child(2n) {
	padding-left: 26px;
}
#work .inner-container .tab:nth-child(2n) .text-holder {
	padding: 0 15px;
	text-transform: uppercase;
}

/* tools */

#tools .inner-container {
	margin-right: -53px;
	margin-left: -1px; /* 2px-lel szelesebb a 6 db negyzet, mint a teruelt */
}
#tools .tab {
	width: 157px;
	float: left;
	margin: 52px 52px 0 0;
}
#tools .tab:nth-child(6n+7) {
	clear: both;
}
#tools .tab .img-holder {
	width: 157px;
	height: 164px;
	margin-bottom: 42px;
}
#tools #icn-editors {
	background: url("../img/icn_editors.png") no-repeat center;
}
#tools #icn-languages {
	background: url("../img/icn_languages.png") no-repeat center;
}
#tools #icn-analytics {
	background: url("../img/icn_analytics.png") no-repeat center;
}
#tools #icn-bug {
	background: url("../img/icn_bug.png") no-repeat center;
}
#tools #icn-devops {
	background: url("../img/icn_devops.png") no-repeat center;
}
#tools #icn-distribution {
	background: url("../img/icn_distribution.png") no-repeat center;
}


/* partners, team */

#partners .inner-container,
#our-team .inner-container{
	margin-right: -52px;
}
#partners .tab,
#our-team .tab {
	width: 261px;
	float: left;
	margin: 52px 52px 0 0;
}
#partners .tab:nth-child(4n+5),
#our-team .tab:nth-child(4n+5) {
	clear: both;
}
#partners .tab .img-holder,
#our-team .tab .img-holder {
	width: 261px;
	height: 261px;
	margin-bottom: 42px;
}
#partners .tab .img-holder{
	background-repeat: no-repeat;
	background-position: center ;
}
#partners .tab #partners-mk, #partners .tab #partners-xc, #partners .tab #partners-tb {
	background-image: url("../img/partners_mk.png");
}
#partners .tab #partners-ak {
	background-image: url("../img/img_adamkatyi.png");
}

/* map */

#map {
	height: 550px;
	position: relative;
	padding-top: 150px;
	background-color: #E5E3DF; /* this from google maps */
}
#map > .inner-section {
	margin: -150px auto 0;
	padding-bottom: 0;
}
#map-layer {
	width: 100%;
	height: 150px;
	background: linear-gradient(#001A2F, transparent);
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0.5;
}
#map .inner-section {
	position: relative;
	z-index: 5;
}
#map-container {
	position: absolute;
	top: 148px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0.8;
}

#relax {
	height: 986px;
	background: url(../img/img_relax.png);
	background-size: cover;
	position: relative;
}
#relax-layer {
	width: 100%;
	height: 100%;
	background: linear-gradient(#EEE, transparent);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#relax .heading {
	position: relative;
	z-index: 5;
}