#wrapper-header-holder{
	min-height: 685px;
}


/* featured-products */

#product-list {
	position: realtive;
	width: 100%;
	position: relative;
}
#product-list > #product-list-container {
	height: 420px;
	max-height: 420px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
#product-list-slider > .clear {
	clear: both;
}
#product-list > .arrow-product-list {
	width: 30px;
	height: 30px;
	position:absolute;
	top: 50%;
}
#product-list > .arrow-product-list:hover {
	cursor: pointer;
}
#left-arrow-product-list {
	background: url("../img/icn_arrow_left.png") no-repeat center transparent;
	left: -45px;
}
#right-arrow-product-list {
	background: url("../img/icn_arrow_right.png") no-repeat center transparent;
	right: -45px;
}
#product-list .product {
	float: left;
	width: 365px;
	height: 365px;
	margin: 52px 52px 0 0;
}
#product-list .product img {
	width: 100%;
	max-width: 100%;
}
#product-list .product img:hover {
	cursor: pointer;
}
#display-product {
	border-bottom: 2px solid #EEE;
	height: 524px;
	padding: 52px 0;
	overflow: hidden;
	position: relative;
}
#display-product .product {
	width: 100%;
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	opacity: 0;
	/* animated hide */
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-ms-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition:  opacity 0.2s ease-in;
}
#display-product .product.show-product {
	opacity: 1;
	/* animated display */
	-webkit-transition: opacity 0.2s ease-in 0.1s;
	-moz-transition: opacity 0.2s ease-in 0.1s;
	-ms-transition: opacity 0.2s ease-in 0.1s;
	-o-transition: opacity 0.2s ease-in 0.1s;
	transition: opacity 0.2s ease-in 0.1s;
}
#display-product .product .img-holder {
	max-width: 782px;
	width: 100%;
	height: 524px;
	float: left;
	margin-right: 52px;
}
#display-product .product .description {
	width: 366px;
	float: left;
	min-height: 524px;
	position: relative;
}
#display-product .product .description .heading {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 40px;
}
#display-product .product .description .text {
	margin-bottom: 52px;
}
#display-product .product .description .thumbnails-holder {
	position: absolute;
	left: 0;
	right: 0;
}
#display-product .product .description .thumbnails-holder {
	bottom: 0;
}
.thumbnails-holder .thumbnail-img-holder {
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 52px;
}
.thumbnails-holder .thumbnail-img-holder > img {
	max-width: 100%;
}

/* our philosophy */
#our-philosophy .inner-row {
	margin-top: 52px;
	width: 50%;
}
#our-philosophy .tab {
	width: 50%;
	text-align: center;
	float: left;
	padding: 0 26px;
}
#our-philosophy .tab .img-holder {
	max-width: 261px;
	width: 100%;
}
#our-philosophy .tab .img-holder > img {
	max-width: 100%;
}

#our-philosophy .tab > .text {
	margin-top: 42px;
}

#contact .heading {
	border: none;
	margin-bottom: 52px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media all and (max-width: 1440px){
	#our-philosophy .inner-row .tab .text > br {
		display: none;
	}
}
@media all and (max-width: 900px){
	#our-philosophy .tab {
		padding: 0 13px;
	}
	#site-text > br {
		display: none;
	}
}
@media all and (max-width: 650px){
	#our-philosophy .mcfx:before, #our-philosophy .mcfx:after {
		content: " ";
		display: table;
	}
	#our-philosophy .mcfx, #our-philosophy .mcfx:after {
		float: none;
		clear:both;
	}
	#our-philosophy .mcfx {
		margin: 52px auto 0;
	}
	#our-philosophy .inner-row {
		width: 100%;
	}
}
@media all and (max-width: 640px){
	#display-product .product .img-holder {
		margin-right: 0;
		height: auto;
	}
	#display-product .product .img-holder > img {
		max-width: 100%;
	}
	#display-product .product .description {
	    width: 100%;
	    float: left;
	    min-height: none;
	    position: static;
	    height: auto;
	    margin-top: 52px;
	    
	}
}