/* header animation */

#wrapper-header > .content {
	overflow: hidden;
}
#wrapper-header > .content > .inner-content {
	position: relative;
}
#wrapper-header .blurred {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
	background: url(../img/img_header_blurred.png);
	background-size: cover;
}


/* featured-products */

#product-list {
	margin-right: -52px;
}
#product-list .product {
	float: left;
	width: 365px;
	height: 365px;
	margin: 52px 52px 0 0;
}
#product-list .product:nth-child(3n+4) {
	clear: both;
}
#product-list .product img {
	width: 100%;
	max-width: 100%;
}
#product-list .product img:hover {
	cursor: pointer;
}
#display-product {
	height: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}
#display-product.show {
	border-bottom: 2px solid #EEE;
	height: 524px;
	padding: 52px 0;
	transition: height 0.1s ease-out;
	-webkit-transition: height 0.1s ease-out, padding 0.1s ease-out;
	-moz-transition: height 0.1s ease-out, padding 0.1s ease-out;
	-o-transition: height 0.1s ease-out, padding 0.1s ease-out;
	-ms-transition: height 0.1s ease-out, padding 0.1s ease-out;
}
#display-product .product {
	width: 100%;
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	opacity: 0;
	/* animated hide */
	-webkit-transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-ms-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	transition:  opacity 0.2s ease-in;
}
#display-product .product.show-product {
	opacity: 1;
	/* animated display */
	-webkit-transition: opacity 0.2s ease-in 0.1s;
	-moz-transition: opacity 0.2s ease-in 0.1s;
	-ms-transition: opacity 0.2s ease-in 0.1s;
	-o-transition: opacity 0.2s ease-in 0.1s;
	transition: opacity 0.2s ease-in 0.1s;
}
#display-product .product .img-holder {
	width: 782px;
	height: 524px;
	float: left;
	margin-right: 52px;
}
#display-product .product .description {
	width: 366px;
	float: left;
	min-height: 524px;
	position: relative;
}
#display-product .product .description .heading {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 40px;
}
#display-product .product .description .text {
	margin-bottom: 52px;
}
#display-product .product .description .thumbnails-holder {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.thumbnails-holder .thumbnail-img-holder {
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 52px;
}
.thumbnails-holder .thumbnail-img-holder > img {
	max-width: 100%;
}

/* our philosophy */

#our-philosophy .inner-container{
	margin-right: -52px;
}
#our-philosophy .tab {
	width: 261px;
	float: left;
	margin: 52px 52px 0 0;
}
#our-philosophy .tab:nth-child(4n+5) {
	clear: both;
}
#our-philosophy .tab .img-holder {
	width: 261px;
	height: 261px;
	background-color: #58c2da;
}
#our-philosophy .tab .img-holder > img {
	max-width: 100%;
	width: 100%;
}
#our-philosophy .tab > .text {
	margin-top: 42px;
}