body {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.cfx:before, .cfx:after {
	content: " ";
	display: table;
}
.cfx, .cfx:after {
	clear: both;
}
.inner-wrapper {
	width: 100%;
	max-width: 1200px;
	padding: 0 10%;
	margin: 0 auto;
}
#wrapper > .inner-wrapper {
	padding: 20px 10%;
}
#menu {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 20px;
	background: #F0F0F0;
	border-bottom: 2px solid #000;
}
#work {
	min-height: 7550px;
	padding-top: 30px;
	background: #58C2DA;
}
#ribbon {
	width: 900px;
	height: 550px;
	position: fixed;
	top: 312px;
	left: 50%;
	margin-left: -450px;
}
#r-inner-container {
	left: 50%;
	top: 0;
}
#menu a {
	display: inline-block;
}

#menu a + a {
	margin-left: 30px;
}

#wrapper {
	margin-top: 50px;
	display: inline-block;
	width: 100%;
}

#footer {
	text-align: center;
	padding-top: 20px;
	border-top: 2px solid #000;
}
#footer > .inner-wrapper > div > a {
	display: inline-block;
	width: 25%;
	float: left;
}